.custom-dropdownMy > button {
  background-color: #2f5232 !important;
}
.custom-dropdownMy:hover > button {
  background-color: #3e6f42 !important;
}
.custom-dropdownMy:active > button {
  background-color: rgb(41, 74, 44) !important;
}

.logout-button :active{
  background-color: violet !important;
}